<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    </style>
</head>
<body class="body">
	<div class="centerbody">
		<h1 id="judulpage">Upload File</h1>
    </div>
    <div class="fileupload">
    	<form action="/upload" enctype="multipart/form-data" method="post">
            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </p>
    </div>
    <div class="perihal"><a href="{{url_for('index')}}">Back to Index</a></div>
</body>
</html>